[package]
name = "screenstub-uinput"
version = "0.0.1"

[dependencies]
input-linux = { git = "https://github.com/arcnmx/input-linux-rs.git", features = ["with-tokio"] }
tokio-fd = { path = "../tokio-fd" }
tokio-io = "^0.1.5"
tokio-core = "^0.1.12"
futures = "^0.1.18"
bytes = "^0.4.0"
log = "^0.4.1"
libc = "^0.2.36"
