ACTION=="add", SUBSYSTEM=="misc", KERNEL=="uinput", MODE="0660", GROUP="uinput"
ACTION=="add", SUBSYSTEM=="input", DEVPATH=="/devices/virtual/input/*", MODE="0666", GROUP="users"
